*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.img img{
  height: 99vh;
  width: 99vw ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0vh;
  bottom: 30vh;
}
.hero{
  position: relative;
  bottom: vh;
  left: 75vh;
  display: flex;
  background: rgba( 255, 255, 255, 0.35 );
  width: 70vh;
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 18.5px );
-webkit-backdrop-filter: blur( 18.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
padding: 5vh 5vh;
align-items: center;
justify-content: space-between;
}
.but{
  display: flex;
  flex-direction: column;
  gap:5vh
}
.heroine{
  position: relative;
  bottom: 0vw;
  left: 35vw;
  display: flex;
  background: rgba( 255, 255, 255, 0.35 );
  width: 70vh;
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 18.5px );
-webkit-backdrop-filter: blur( 18.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
padding: 5vh 5vh;
align-items: center;
justify-content: center;
@media (max-width:800px) {
  position: relative;
  bottom: 0vw;
  left: 15vmax;
}
}
.item{
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
}
#ro{
  border: 2px solid black;
  font-size: 2vw;
  padding: 1vh 2vh;
  font-weight: bold;
}
.player1{
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.form {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2vh;
}
.form input{
  font-size: large;
  height: 6.8vh;
  padding: 1vh 2vh;
}
.formi{
  width: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formi span{
  color:rgb(245, 242, 238);
  font-size: 4.5vh;
  font-weight: bold;
}
.App {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#ro:hover{
  cursor: pointer;
  font-size: 3.3vh;
}
.score{
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  font-size: 5vh;
  font-weight: bold;
}
#opps{
  color: red;
}
#sels{
  color: green;
}
